<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/slider/index" class="button">
        Slider
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit" enctype="multipart/form-data">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Sort" horizontal>
            <b-input placeholder="Enter sort here" v-model="form.sort" required />
          </b-field>
          <b-field label="URL" horizontal>
            <b-input placeholder="Enter url here" v-model="form.url" required />
          </b-field>
          <hr>
          <b-field  horizontal>
          <b-upload v-model="form.image" accept=".jpg,.png">
            <a class="button is-primary">
              <b-icon icon="upload"></b-icon>
              <span>Upload Image</span>
            </a>
          </b-upload>

          <span class="file-name" v-if="form.image">
                        {{ form.image.name }}
                    </span>
          </b-field>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'SliderForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Slider'
      }

      return [
        'Admin',
        'Slider',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
          return this.form.name
      } else {
        return 'Create Slider'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Slider'
      } else {
        return 'New Slider'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        percentage: null,
        orders_over: null,
        valid_from: null,
        valid_to: null,
        status: 0,
        form: {
          name:null,
          url: null,
          sort: null,
          image: null
        },
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/slider/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/slider/store'

      if (this.id) {
        method = 'post'
        url = `/slider/${this.id}`
      }
     // let formData = new FormData();

      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      let formData = new FormData();
      formData.append('sort', this.form.sort);
      formData.append('url', this.form.url);

      formData.append('image', this.form.image);
      console.log(this.form.image)

      axios({
        method,
        url,
        data: formData, config
      }).then(r => {
        this.isLoading = false
        this.$router.push({name: 'slider.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Slider Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Slider Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
