<template>

  <b-modal :active.sync="isModalActive" has-modal-card>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add choice of {{groupName}}</p>
      </header>
      <section class="modal-card-body">

        <b-field horizontal label="Name">
          <b-input v-model="form.name" name="name" required/>
        </b-field>
        <b-field horizontal label="Price">
          <b-input v-model="form.price" name="price" required/>
        </b-field>

        <b-field horizontal label="pre-select">
          <b-switch v-model="preselect"/>
        </b-field>

        <slot/>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="cancel">Cancel</button>
        <button class="button primary" @click="addChoice()">Submit</button>
      </footer>
    </div>
  </b-modal>

</template>

<script>
  import ModalBox from "./ModalBox";
  export default {
    name: "AddChoice",
    components: {ModalBox},
    props: [
      'isActive', 'groupId', 'groupName'
    ],
    data () {
      return {
        isModalActive: false,
        preselect: false,
        form: {
          name: null,
          price: null,
          preselect: null,
          id_group: null
        }
      }
    },
    methods: {
      cancel () {
        this.$emit('cancel')
      },
      addChoice () {

        this.form.id_group = this.groupId
        this.form.preselect = this.preselect

        let method = 'post'
        let url = '/choices/store'
        axios({
          method,
          url,
          data: this.form
        }).then(r => {

          if (!this.id && r.data.data.id) {

             this.cancel();
             this.$emit('call-list');

            this.$buefy.snackbar.open({
              message: 'Created',
              queue: false
            })
          }
        }).catch(e => {

          this.$buefy.toast.open({
            message: `Error: ${e.message}`,
            type: 'is-danger',
            queue: false
          })
        })
      }
      }, watch: {
        isActive (newValue) {
          this.isModalActive = newValue
        },
        isModalActive (newValue) {
          if (!newValue) {
            this.cancel()
          }
        }
    }
  }
</script>

