<template>

  <div class="card">
    <div class="card-content" v-for="list in categories" v-if="categories.length && !isLoading">
      <span>{{ list.name }} </span>
      <span>{{ list.description }}</span>
    </div>
  </div>

</template>

<script>
import CardComponent from '@/components/CardComponent'

export default {
  name: 'ViewCategories',
  components: {
    CardComponent
  },
  data () {
    return {
      isLoading: false,
      errors: {},
      categories: [],
    }
  },
  computed: {

  },
  created () {
    this.getData()
  },
  methods: {

    getData () {
      let self = this;
      self.isLoading = true
      axios
          .get('/categories')
          .then(r => {

           this.isLoading = false
            if (r.data && r.data.data) {
              if (r.data.data.length > this.perPage) {
                this.paginated = true
              }
              self.categories = r.data.data
            }
          })
          .catch( err => {
            this.isLoading = false
            this.$buefy.toast.open({
              message: `Error: ${err.message}`,
              type: 'is-danger',
              queue: false
            })
          })
    },
  },
  watch: {
  }
}
</script>
