<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/Gallery/index" class="button">
        Gallery
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Image" horizontal>
            <!--<b-input placeholder="" v-model="form.image" required />-->
            <vue-upload-multiple-image v-model="form.image"
              @upload-success="uploadImageSuccess"
              @before-remove="beforeRemove"
              @edit-image="editImage"
              @data-change="dataChange"
              :data-images="images"
            ></vue-upload-multiple-image>
          </b-field>

          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'
import VueUploadMultipleImage from 'vue-upload-multiple-image'



export default {
  name: 'GalleryForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification, VueUploadMultipleImage, },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      images: [],
      isLoading: false,
      item: null,
      form: this.getClearFormObject()

    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Gallery'
      }

      return [
        'Admin',
        'Gallery',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create Gallery'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Gallery'
      } else {
        return 'New Gallery'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        form: {
          image: null
        },
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/offers/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

            this.form.valid_from = new Date(r.data.data.valid_from)
            this.form.valid_to = new Date(r.data.data.valid_to)
          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/Gallery/store'

      if (this.id) {
        method = 'patch'
        url = `/Gallery/${this.id}`
      }

      this.form.valid_from = moment(this.form.valid_from).format('Y-M-D').toString();
      this.form.valid_to = moment(this.form.valid_to).format('Y-M-D').toString();

      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'Gallery.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Gallery Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Gallery Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    },
    uploadImageSuccess(formData, index, fileList) {
      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      formData.append('image', this.image);
      console.log(this.form.image)
      console.log('data', formData, index, fileList)
      //Upload image api
      axios.post('/Gallery/store', { data: formData }).then(response => {
        console.log(response)
      })
    },
    beforeRemove (index, done, fileList) {
      console.log('index', index, fileList)
      var r = confirm("remove image")
      if (r == true) {
        done()
      } else {
      }
    },
    editImage (formData, index, fileList) {
      console.log('edit data', formData, index, fileList)
    },
    dataChange (data) {
      console.log(data)
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
<style>
  #my-strictly-unique-vue-upload-multiple-image {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>


