<template>
  <div>
    <hero-bar>
      {{ heroTitle }}
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="map-marker" class="tile is-child">
        <form @submit.prevent="submit">
          <b-field label="Name" horizontal>
            <b-input placeholder="Restaurant's Name" v-model="form.restaurant.name" required />
          </b-field>
          <b-field label="Phone Number"  horizontal>
            <b-input placeholder="Restaurant's Phone Number" v-model="form.restaurant.phone_number" required />
          </b-field>
          <hr>

          <b-field label="Country" horizontal>
            <b-select placeholder="Select Country" v-model="form.restaurant.address.id_country">
              <option value="1" selected>
                United Kingdom
              </option>
            </b-select>
          </b-field>

          <b-field label="City" horizontal>
            <b-input placeholder="Restaurant's City" v-model="form.restaurant.address.city" required />
          </b-field>

          <b-field label="Website URL" horizontal>
            <b-input placeholder="Enter url" v-model="form.restaurant.website_url" required />
          </b-field>

          <b-field label="Zip/Postal Code" horizontal>
            <b-input placeholder="Zip/Postal Code" v-model="form.restaurant.address.zip_code" required />
          </b-field>

          <b-field label="Street Address" horizontal>
            <b-input placeholder="Street Address" v-model="form.restaurant.address.address" required />
          </b-field>

          <b-field label="Do you offer pickup ?" horizontal>
            <b-checkbox v-model="form.restaurant.is_pickup" true-value="1" false-value="0"> </b-checkbox>
          </b-field>

          <b-field label="Do you offer delivery ?" horizontal>
            <b-checkbox v-model="form.restaurant.is_delivery" true-value="1" false-value="0"> </b-checkbox>
          </b-field>

          <b-field label="Do you offer dine in ?" horizontal>
            <b-checkbox v-model="form.restaurant.is_dine" true-value="1" false-value="0"> </b-checkbox>
          </b-field>

          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Next</b-button>
          </b-field>
        </form>
      </card-component>

      </tiles>
    </section>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import Notification from '@/components/Notification'
  import BCheckbox from "buefy/src/components/checkbox/Checkbox";
  import BInput from "buefy/src/components/input/Input";
  import BSelect from "buefy/src/components/select/Select";

export default {
  name: 'AddressForm',
  components: {BSelect, BInput, BCheckbox, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      form: this.getClearFormObject()
    }
  },

  computed: {
    heroTitle () {
     return "What's your restaurant's address ?"
    },
    formCardTitle () {
      return 'Restaurant Address'
    },
    ...mapState([
      'userRestaurant', 'userId'
    ])
  },

  mounted () {
    if (this.userRestaurant != null) {
      this.form.restaurant = this.userRestaurant
    } else {
      this.form.restaurant.id_user = this.userId
    }
  },

  methods: {
    getClearFormObject () {
      return {
        restaurant : {
          name: null,
          phone_number: null,
          website_url: null,
          logo: null,
          id_user : null,
          id_pickup : null,
          id_delivery : null,
          is_dine: null,
          address: {
            id: null,
            id_country: null,
            city: null,
            zip_code: null,
            address: null,
            id_restaurant: null
          }
        }
      }
    },
    submit() {
      this.isLoading = true
      this.errors = {}

      axios
        .patch('/user/restaurant', this.form)
        .then(r => {
          this.isLoading = false

          this.form.restaurant = r.data.data.restaurant

          this.$store.commit('user', r.data.data)
          this.$buefy.snackbar.open({
            message: 'Restaurant Address is added successfully',
            duration: 1000,
            queue: false
          })
          this.$router.push({name: 'DeliveryCharges.index'})
        })
        .catch(err => {
          this.isLoading = false
          if (err.response.data.errors) {
            this.errors = err.response.data.errors
          } else if (err.response.status === 403) {
            this.$emit('is-forbidden')
            this.errors = {
              _all: ['Forbidden with demo account']
            }
          } else {
            console.error(err.response)
            this.errors = {
              _all: ['An error occurred']
            }
          }
          each(this.errors, err => {
            this.$buefy.toast.open({
              message: err[0],
              type: 'is-danger',
              queue: false,
              duration: 3000
            })
          })
        })
    }
  },

  watch: {
    userRestaurant (newValue) {
      this.form.restaurant = newValue
    },

    userId (newValue) {
      this.form.restaurant.id_user = newValue
    }
  }

}
</script>
