<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/offers/index" class="button">
        Offers
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Percentage" horizontal>
            <b-input placeholder="eg. 10%" v-model="form.percentage" required />
          </b-field>
          <b-field label="Orders Over" horizontal>
            <b-input placeholder="eg. 2000" v-model="form.orders_over" required />
          </b-field>
          <b-field label="Valid From" horizontal>
            <b-datepicker
                    @input="input"
                    v-model="form.valid_from"
                    locale="en-US"
                    placeholder="Click to select..."
                    icon="calendar-today"
                    required
            >
            </b-datepicker>
          </b-field>
          <b-field label="Valid From" horizontal>
            <b-datepicker
                    @input="input"
                    v-model="form.valid_to"
                    locale="en-US"
                    placeholder="Click to select..."
                    icon="calendar-today"
                    required
            >
            </b-datepicker>
          </b-field>
          <hr>
          <b-field horizontal label="Used With Other Offers ? ">
            <b-checkbox v-model="form.used_once" true-value="1" false-value="0"/>
          </b-field>
          <b-field horizontal label="Status">
            <b-checkbox v-model="form.status" true-value="1" false-value="0"/>
          </b-field>
          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'OfferForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Offer'
      }

      return [
        'Admin',
        'Offers',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.name
      } else {
        return 'Create Offer'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Offer'
      } else {
        return 'New Offer'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
        percentage: null,
        orders_over: null,
        valid_from: null,
        valid_to: null,
        status: 0,
        used_once: 0,
      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/offers/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

            this.form.valid_from = new Date(r.data.data.valid_from)
            this.form.valid_to = new Date(r.data.data.valid_to)
          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/offers/store'

      if (this.id) {
        method = 'patch'
        url = `/offers/${this.id}`
      }

      this.form.valid_from = moment(this.form.valid_from).format('Y-M-D').toString();
      this.form.valid_to = moment(this.form.valid_to).format('Y-M-D').toString();

      axios({
        method,
        url,
        data: this.form
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'offers.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Offer Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Offer Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
    id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
