<template>
  <div>
    <title-bar :title-stack="titleStack"/>
    <hero-bar>
      {{ heroTitle }}
      <router-link slot="right" to="/OurStory/index" class="button">
        Our Story
      </router-link>
    </hero-bar>
    <section class="section is-main-section">
      <tiles>
        <card-component :title="formCardTitle" icon="account-edit" class="tile is-child">
        <form @submit.prevent="submit">
          <template v-if="id">
            <b-field label="ID" horizontal>
              <b-input :value="id" custom-class="is-static" readonly />
            </b-field>
            <hr>
          </template>
          <b-field label="Main Title" horizontal>
            <b-input placeholder="Enter main title" v-model="form.main_title" required />
          </b-field>

          <b-field label="All Title" horizontal>
            <b-input placeholder="Enter all title" v-model="form.all_title" required />
          </b-field>
          <b-field label="Description" horizontal>
            <textarea typeof="text" placeholder="Enter description" v-model="form.description" class="textarea" required> </textarea>

          </b-field>

          <hr>
          <b-field horizontal>
            <b-upload v-model="form.image" label="Image" accept=".jpg,.png">
              <a class="button is-primary">
                <b-icon icon="upload"></b-icon>
                <span>Upload Feature Image</span>
              </a>
            </b-upload>
            <span class="file-name" v-if="form.image">
                        {{ form.image.name }}
                    </span>
          </b-field>

          <hr>
          <b-field horizontal>
            <b-button type="is-primary" :loading="isLoading" native-type="submit">Submit</b-button>
          </b-field>
        </form>
      </card-component>
      </tiles>
    </section>
  </div>
</template>

<script>
import clone from 'lodash/clone'
import TitleBar from '@/components/TitleBar'
import HeroBar from '@/components/HeroBar'
import Tiles from '@/components/Tiles'
import CardComponent from '@/components/CardComponent'
import FilePicker from '@/components/FilePicker'
import UserAvatar from '@/components/UserAvatar'
import Notification from '@/components/Notification'
import moment from 'moment'

export default {
  name: 'OurStoryForm',
  components: { UserAvatar, FilePicker, CardComponent, Tiles, HeroBar, TitleBar, Notification },
  props: {
    id: {
      default: null
    }
  },
  data () {
    return {
      isLoading: false,
      item: null,
      form: this.getClearFormObject()
    }
  },
  computed: {
    titleStack () {
      let lastCrumb

      if (this.isProfileExists) {
        lastCrumb = this.form.name
      } else {
        lastCrumb = 'New Our Story'
      }

      return [
        'Admin',
        'OurStory',
        lastCrumb
      ]
    },
    heroTitle () {
      if (this.isProfileExists) {
        return this.form.key
      } else {
        return 'Create Our Story'
      }
    },
    formCardTitle () {
      if (this.isProfileExists) {
        return 'Edit Our Story'
      } else {
        return 'New Our Story'
      }
    },
    isProfileExists () {
      return !!this.item
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getClearFormObject () {
      return {
        id: null,
          main_title: null,
          all_title: null,
          description:null,
          image: null,
        name:null

      }
    },
    getData () {
      if (this.id) {
        axios
          .get(`/OurStory/${this.id}`)
          .then(r => {
            this.form = r.data.data
            this.item = clone(r.data.data)

          })
          .catch(e => {
            this.item = null

            this.$buefy.toast.open({
              message: `Error: ${e.message}`,
              type: 'is-danger',
              queue: false
            })
          })
      }
    },
    fileIdUpdated (fileId) {
      this.form.file_id = fileId
      this.form.avatar_filename = null
    },
    input (v) {
      this.validFromReadable = moment(v).format('MMM D, Y').toString()
    //  this.createdReadable = moment(v).format('MMM D, Y').toString()
  //    this.validToReadable = moment(v).format('MMM D, Y').toString()
    },
    submit () {
      this.isLoading = true
      let method = 'post'
      let url = '/OurStory/store'

      if (this.id) {
        method = 'post'
        url = `/OurStory/${this.id}`
      }
      const config = {
        headers: { 'content-type': 'multipart/form-data' }
      }

      let formData = new FormData();
      formData.append('main_title', this.form.main_title);
      formData.append('all_title', this.form.all_title);
      formData.append('description', this.form.description);
      formData.append('image', this.form.image);


      axios({
        method,
        url,
        data: formData,
        config
      }).then(r => {

        this.isLoading = false
        this.$router.push({name: 'OurStory.index'})

        if (!this.id && r.data.data.id) {
          this.$buefy.snackbar.open({
            message: 'Our Story Created Successfully',
            queue: false
          })
        } else {
          this.item = r.data.data

          this.$buefy.snackbar.open({
            message: 'Our Story Updated Successfully',
            queue: false
          })
        }
      }).catch(e => {
        this.isLoading = false

        this.$buefy.toast.open({
          message: `Error: ${e.message}`,
          type: 'is-danger',
          queue: false
        })
      })
    }
  },
  watch: {
   id (newValue) {
      this.form = this.getClearFormObject()
      this.item = null

      if (newValue) {
        this.getData()
      }
    }
  }
}
</script>
